@import "~dvcm-style";
@import "~use-cases-style";
@import "controlls.css";
@import "content.css";
@import "tabs.css";

.diagrams-editor{
  height:100%;
  width:100%;
  overflow:hidden;
}

.diagrams-editor>.controlls{
  height:10%;
  overflow:hidden;
}

.diagrams-editor>.content{
  height:90%;
  font-size:16px;
  border:none;
  overflow: hidden;
}

.diagrams-editor>.content>.diagram{
  height:100%;
  width:100%;
  border:none;
  overflow: auto;
  background-color:#CCCCCC;
  position:relative;
  cursor:default;
}

.diagrams-editor>.controlls,
.diagrams-editor>.diagram{
  width:100%;
}

.welcome{
  font-size:20px;
  font-size:3vh;
}
