.use-cases  .edge.inclusion ,
.use-cases  .edge.extension
{
  border-top-style:dashed;
}

.use-cases  .edge.inclusion .edge-end-right,
.use-cases  .edge.extension .edge-end-right{
    width: 10px;
    height: 10px;
    transform: rotate(45deg);
    border-top: solid #000000 4px;
    border-left: transparent;
    border-bottom: transparent;
    border-right: solid #000000 4px;
    background: transparent;
}

.use-cases .line.edge.association .edge-end-right{
  display:none;
}
