.diagram .event {
    border-radius: 50%;
    background-color: #FFFFFF;
}

.diagram .event.start-event {
}

.diagram .event.end-event {
    display:flex;
    justify-content:center;
    align-items:center;
}

.diagram .event.end-event .inner {
    border-radius: 50%;
    width: 80%;
    height: 80%;
    background-color: #000000;
}
