.dvcm  .event{
    background-color: #FFFFFF;
}
.dvcm  .event .outer{
    border-radius: 50%;
    border:solid #000 1px;
    width:100%;
    height:100%;
    box-sizing: border-box;
}

.dvcm  .event.start-event {
}

.dvcm  .event.end-event .outer{
    border-width:6px;
}
