.dvcm  .modeling-component.pool{
  background-color:#FFFFFF;
  cursor:default;
}

.dvcm  .modeling-component.pool .name-div{
  font-size:20px;
	text-align:center;
	height:60px;
	border:none;
	border-bottom:solid black 1px;
	overflow:hidden;
}
.dvcm  .modeling-component.pool .content-div{
  position:absolute;
  overflow:hidden;
  width:100%;
}
