

.transaction-name{
  position:absolute;
  padding-left:10px;
  z-index:80;
}

.diagram .line.dashed-line.transaction-border {
  height: 2px;
}
.diagram .line.dashed-line.transaction-border.selected {
  height: 4px;
}
